    body {
      margin: 1em;
      font-family: monospace;
  }

  .container {
      max-width: 60em;
      margin-right: auto;
      margin-left: auto;
  }

  .col {
      padding: 0.5em;
/*  background: #fafafa;*/
}

label {
    display:block;
    margin: .75em 0 .5em 0;
}

pre {
  letter-spacing: .5em;
  font-size: .7em;
  font-weight: bold;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-item-left {
  flex: 33%;
}

.flex-item-right {
  flex: 66%;
  max-width: 600px;
}

.flex-item-left, .flex-item-right > div {
  flex: 1;
  margin: 1em;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
    .container {
        max-width: none;
    }
    
    .flex-item-right, .flex-item-left {
        flex: 100%;
    }
} 

